absl-py==2.4.0
annotated-types==0.7.0
astunparse 
blinker==1.9.0
Bottleneck
brotlicffi
cached-property
certifi
cffi==2.0.0
charset-normalizer
click==8.3.2
contourpy==1.3.2
cycler==0.12.1
dlib
face-recognition==1.3.0
face_recognition_models==0.3.0
filelock
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.3.0
gast
gmpy2
google-pasta
googlemaps==4.10.0
grpcio
h5py
idna
importlib_metadata
itsdangerous==2.2.0
Jinja2
joblib
keras
kiwisolver==1.5.0
lap==0.5.13
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.8
mdurl
mediapipe==0.10.33
ml-dtypes
mpmath
munkres==1.1.4
namex
networkx
numexpr
numpy==2.2.6
opencv-contrib-python==4.13.0.92
opencv-python==4.11.0
opencv-python-headless==4.11.0
opt_einsum
optree
packaging==26.0
pandas
pillow==12.2.0
polars==1.39.3
polars-runtime-32==1.39.3
protobuf
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
pyparsing==3.3.2
PySocks
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz
PyYAML
requests
rich
scikit-learn
scipy
six==1.17.0
sounddevice==0.5.5
sympy==1.13.1
tensorboard
tensorboard_data_server
tensorflow
tensorflow_estimator
termcolor
threadpoolctl
torch==2.5.1
torchvision==0.20.1
tornado
typing-inspection==0.4.2
typing_extensions
tzdata
ultralytics==8.4.33
ultralytics-thop==2.0.18
unicodedata2
urllib3
Werkzeug
wrapt
zipp